body, html{
    background-color: lightgray;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: white;
}

.container{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 480px;
    padding: 2%;
    /* From https://css.glass */
    background-color: #1e1e1e;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.display-container{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: inset 4px 4px 4px 2px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden; /* Add this line */
    background-color: #464646;
    margin-bottom: 5%;
}

.prev-calculation-display{
    display: flex;
    height: 60%;
    justify-content: space-between;
    align-items: center;
}

.operators, .prev-equal, .prev-result{
    flex: 1 1 0;
}

.operators{
    padding-left: 20px;
}
.prev-equal, .prev-result{
    text-align: right;
}

.prev-result{
    padding-right: 20px;
}

.display{
    font-size:xx-large;
    width: 93%;
    padding: 0 2%;
    height: 40%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-container{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

.modulo, .c, .backspace, .divide, 
.seven, .eight, .nine, .multiply, 
.four, .five, .six, .minus, 
.one, .two, .three, .addition, 
.zero, .dot, .equal{
    max-width: 30%;
    flex: 1 1 0;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden; /* Add this line */
    transition: all .15s ease-in-out;

}

.modulo:hover, .c:hover, .backspace:hover, .divide:hover, 
.seven:hover, .eight:hover, .nine:hover, .multiply:hover, 
.four:hover, .five:hover, .six:hover, .minus:hover, 
.one:hover, .two:hover, .three:hover, .addition:hover, 
.zero:hover, .dot:hover, .equal:hover{
    transform: scale(1.1);
}


.c:hover, .backspace:hover{
    background-color: #800000;
}

.seven:hover, .eight:hover, .nine:hover, 
.four:hover, .five:hover, .six:hover,
.one:hover, .two:hover, .three:hover,
.zero:hover, .dot:hover{
    background-color: #8f8c8c;;
}

.multiply:hover, .minus:hover, .addition:hover, .divide:hover, .modulo:hover{
    background-color: #663399;
}

.equal:hover{
    background-color: #0c7a0c;
}

@media (hover: none) {
    /* Override hover states for touch devices */
    .c:hover, .backspace:hover, .dot:hover, 
    .multiply:hover, .minus:hover, .addition:hover, .divide:hover, .modulo:hover,
    .equal:hover {
        background-color: #464646;
        transform: none;
    }
  }
@media (hover: none){
    .seven:hover, .eight:hover, .nine:hover, .four:hover, .five:hover, .six:hover,
    .one:hover, .two:hover, .three:hover, .zero:hover{
        background-color: #666666;
        transform: none;
    }

}

.zero, .dot, .equal{
    max-width: 50%;
}

.modulo, .c, .backspace, .divide, .multiply, .minus, .addition, .dot, .equal{
    background-color: #464646;
}

.row5 .equal{
    flex: 3 1 auto;
}

.footer{
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: black;
}